<%= form_with(model: [journal, dream_log], class: "contents") do |form| %>
  <% if dream_log.errors.any? %>
    <div id="error_explanation" class="error">
      <h2><%= pluralize(dream_log.errors.count, "error") %> prohibited this dream_log from being saved:</h2>

      <ul>
        <% dream_log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :created_at %>

  <%= form.label :dream, class: "toggle-label" do %>
    <%= form.check_box :dream, class: "sr-only" %>
    <div class="toggle-div"></div>
    <span class="toggle-span">Did you have a dream?</span>
  <% end %>

  <%= form.label :remember, class: "toggle-label" do %>
    <%= form.check_box :remember, class: "sr-only" %>
    <div class="toggle-div"></div>
    <span class="toggle-span">Do you remember your dream?</span>
  <% end %>

  <div class="my-5">
    <%= form.label :body, class: "input-label" %>
    <%= form.text_area :body, rows: 4, class: "text-field" %>
  </div>

  <div class="my-5">
    <%= form.label :sleep_time, class: "input-label" %>
    <%= form.number_field :sleep_time, class: "text-field-small" %>
  </div>

  <div class="inline-flex">
    <%= form.submit class: "btn-blue" %>
  </div>
<% end %>
