<div id="<%= dom_id dream_log %>" class="flex flex-col card">
  <div class="my-4">
    <strong class="inline-block font-medium mb-1">Date:</strong>
    <%= dream_log.created_at.to_date %>
  </div>

  <div class="text-sm">
  <% if dream_log.dream == false %>
    No Dream Today----
  <% else %>
    <% if dream_log.remember == false %>
      Had a dream, but couldn't remember it...
    <% else %>
        <%= dream_log.body %>
    <%  end %>
  <% end %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this dream log", dream_log, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this dream log', edit_dream_log_path(dream_log), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
