<%= form_with model: [ journal, DreamLog.new ] do |form| %>
  <div class="card-static flex flex-col space-y-8">
    <p class="flex justify-between">
      <%= form.label :dream, class: "input-label" %>
      <%= form.check_box :dream, class: "mt-2 h-5 w-5" %>
    </p>
    <p class="flex justify-between">
      <%= form.label :remember, class: "input-label" %>
      <%= form.check_box :remember, class: "mt-2 h-5 w-5" %>
    </p>
    <p class="flex flex-col">
      <%= form.label :body, class: "input-label" %><br>
      <%= form.text_area :body, class: "text-field" %>
    </p>
    <p class="flex justify-between">
      <%= form.label :sleep_time, class: "input-label" %>
      <%= form.number_field :sleep_time, step: 0.5, min: 0, class: "text-field-small" %>
    </p>
    <div class="flex">
      <%= form.submit class: "flex-grow btn-blue" %>
    </div>
  </div>
<% end %>