<%= form_with model: [ journal, DreamLog.new ] do |form| %>
  <div class="card-static flex flex-col space-y-8">
    <%= form.label :dream, class: "my-5 flex relative items-center cursor-pointer" do %>
      <%= form.check_box :dream, class: "sr-only" %>
      <div class="toggle-switch"></div>
      <span class="toggle-switch-label">Did you have a dream?</span>
    <% end %>
    <%= form.label :remember, class: "my-5 flex relative items-center cursor-pointer" do %>
      <%= form.check_box :remember, class: "sr-only" %>
      <div class="toggle-switch"></div>
      <span class="toggle-switch-label">Do you remember your dream?</span>
    <% end %>
    <p class="flex flex-col">
      <%= form.label :body, class: "input-label" %><br>
      <%= form.text_area :body, class: "text-field" %>
    </p>
    <p class="flex justify-between">
      <%= form.label :sleep_time, class: "input-label" %>
      <%= form.number_field :sleep_time, step: 0.5, min: 0, class: "text-field-small" %>
    </p>
    <div class="flex">
      <%= form.submit class: "flex-grow btn-blue" %>
    </div>
  </div>
<% end %>