<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Log in</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="my-5">
      <%= f.label :email, "Your email", class: "input-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-field" %>
    </div>

    <div class="mt-5">
      <%= f.label :password, "Your password", class: "input-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "text-field" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <%= f.label :remember_me, class: "toggle-label" do %>
        <%= f.check_box :remember_me, class: "sr-only" %>
        <div class="toggle-div"></div>
        <span class="toggle-span">Remember me</span>
      <% end %>
    <% end %>

    <div class="actions my-5">
      <%= f.submit "Log in", class: "btn-blue" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>