<%= form_with(model: [journal, dream_log], class: "contents", data: { controller: "dream-log-form"}) do |form| %>
  <% if dream_log.errors.any? %>
    <div id="error_explanation" class="error">
      <h2><%= pluralize(dream_log.errors.count, "error") %> prohibited this dream_log from being saved:</h2>

      <ul>
        <% dream_log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :created_at %>
  <%= render 'dream_logs/forms/have_dream_toggle', form: form %>
  <%= render 'dream_logs/forms/remember_dream_form', form: form %>
  <div class="my-5">
    <%= form.label :sleep_time, class: "input-label" %>
    <%= form.range_field :sleep_time, :in=>0..12, :step=>0.5, value: dream_log.sleep_time, class: "inline-block", data: { action: "click->dream-log-form#sleepTimeChanged"} %>
    <div data-dream-log-form-target="sleepTime" class="inline"><%= dream_log.sleep_time %></div>
  </div>
  <div class="inline-flex">
    <%= form.submit class: "btn-blue" %>
  </div>
<% end %>
