<%= form_with model: [journal, DreamLog.new(dream: true)], class: "contents", data: { controller: "dream-log-form"} do |form| %>
  <div class="card-static">
    <%= render 'dream_logs/forms/have_dream_toggle', form: form %>
    <%= render 'dream_logs/forms/remember_dream_form', form: form %>
    <p class="my-5 flex justify-between">
      <%= form.label :sleep_time, class: "input-label" %>
      <%= form.number_field :sleep_time, step: 0.5, min: 0, class: "text-field-small" %>
    </p>
    <div class="flex">
      <%= form.submit class: "flex-grow btn-blue" %>
    </div>
  </div>
<% end %>