<strong class="font-medium mb-4">Dream Logs</strong>

<%= month_calendar(events: @journal.dream_logs) do |date, logs| %>
  <%= date %>
  <%= link_to material_icon.edit.md_18.css_class("dark:text-blue-700"), new_journal_dream_log_path(@journal, :created_at => date) %>
  <% logs.each do |log| %>
    <div id="dream_logs">
      <%= render "dream_logs/dream_log_calendar", dream_log: log %>
    </div>
  <% end %>
<% end %>

<hr class="mt-4">
<%= render "dream_logs/new", journal: journal %>