<div class="flex flex-col items-center w-screen md:w-full md:px-4">
  <%= month_calendar(events: @journal.dream_logs) do |date, logs| %>
    <div class="bg-gray-800 h-14 md:h-24">
      <%= content_tag(:div, date.day, class: "pt-1 text-center") %>
      <% if logs.empty? %>
        <div class="text-center md:block md:mt-4">
          <%= link_to fa_icon('plus-square-o', class: "fa-2x dark:text-gray-700 hover:text-blue-700 dark:hover:text-white"),
                      new_journal_dream_log_path(@journal, :created_at => date), class: "hidden md:block" %>
          <%= link_to fa_icon('plus-square-o', class: "dark:text-gray-700 hover:text-blue-700 dark:hover:text-white"),
                      new_journal_dream_log_path(@journal, :created_at => date), class: "md:hidden" %>
        </div>
      <% end %>
      <% logs.each do |log| %>
        <div id="dream_logs">
          <%= render "dream_logs/dream_log_calendar", dream_log: log %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<hr class="my-4 divider">
<%= render "dream_logs/new", journal: journal %>