<%= form_with(model: journal, class: "contents") do |form| %>
  <% if journal.errors.any? %>
    <div id="error_explanation" class="error">
      <h2><%= pluralize(journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
        <% journal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, class: "input-label"  %>
    <%= form.text_field :title, class: "text-field" %>
  </div>

  <div class="my-5">
    <%= form.label :author, class: "input-label" %>
    <%= form.text_field :author, class: "text-field" %>
  </div>

  <div class="inline-flex">
    <%= form.submit class: "btn-blue" %>
  </div>
<% end %>
