<div id="<%= dom_id journal %>">
  <p class="my-5">
    <strong class="font-medium mb-1">Title:</strong>
    <%= journal.title %>
  </p>

  <p class="my-5">
    <strong class="font-medium mb-1">Author:</strong>
    <%= journal.author %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this journal", journal, class: "btn-gray" %>
    <%= link_to 'Edit this journal', edit_journal_path(journal), class: "btn-gray" %>
    <hr class="mt-6 divider">
  <% end %>
</div>
