<%= turbo_stream_from @journal %>

<div id="journals" class="mx-auto md:w-2/3 w-full flex">

  <div class="mx-auto">
    <%# if notice.present? %>
<!--      <p class="notice" id="notice"><%#= notice %></p>-->
    <%# end %>

    <%= render @journal %>
    <%= render 'journals/dream_logs', journal: @journal %>

    <%= link_to 'Edit this journal', edit_journal_path(@journal), class: "btn-gray" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this journal', journal_path(@journal), method: :delete, class: "btn-gray" %>
    </div>
    <%= link_to 'Back to journals', journals_path, class: "btn-gray" %>
  </div>
</div>
